@{
    ViewData["Title"] = "Registar Aluno";
}

<div>
    <h1>Aluno registado com sucesso!</h1>
    <h2>Dados do Aluno:</h2>
    <ul>
        <li>Número de Aluno: @TempData["numero"]</li>
        <li>Nome do Aluno: @TempData["nome"]</li>
    </ul>
</div>
