@model FP_01_2022_2023.Models.Aluno

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-3">
    <h1>Registar novo aluno</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Registo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="numero" class="control-label"></label>
                    <input asp-for="numero" class="form-control" />
                    <span asp-validation-for="numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nome" class="control-label"></label>
                    <input asp-for="nome" class="form-control" />
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="date" class="control-label"></label>
                    <input asp-for="date" class="form-control" />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <a class="btn btn-secondary" asp-action="Listar">Retornar</a>
                    <input type="submit" value="Registar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
