
@{
    ViewData["Title"] = "Maintenance";
}

<h1>Site Maintenance</h1>

<img src="~/Images/maintenance.png" width="500" height="500" />

<p>This site is closed to daily maintenance.</p>
<p>We are sorry for the inconvenience. Please come back later.</p>
