html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/**/

form div{
    display: grid;
    grid-template-columns: 150px 250px;
    margin: 1rem auto;
    text-align: start;
}

form div,
form input[type="submit"],
.max-width-container{
    width: 400px;
}

.max-width-container{
    margin: 0 auto;
}

form div label {
    font-size: 1.5rem;
    font-weight: bold;
    grid-column: 1/2;
}

form div input{
    font-size: 1.5rem;
    grid-column: 2/3;
}

