
@{
    ViewData["Title"] = "WithHeaders";
}

<h1>VaryByHeaders</h1>

Value sended in header is: @Context.Response.Headers["Vary"]
<br /><br />
This view was built at <strong>@DateTime.Now.ToLongTimeString()</strong>
<br />

<h3>Header value</h3>
@Context.Response.Headers["Vary"] : @Context.Request.Headers[Context.Response.Headers["Vary"]]