@model Desafio_03_07.Models.Document

@{
    ViewData["Title"] = "Upload";
}

<style>
    textarea{
        resize: none;
    }
    .btns{
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 320px;
    }
    .btn{
        width: 150px;
        text-align: center;
    }
</style>
<div class="container mt-3">
    <h1>File Upload</h1>
    <form asp-action="Upload" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="name" class="control-label">File Name:</label>
            <input asp-for="name" class="form-control"/>
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="description" class="control-label">Description:</label>
            <textarea asp-for="description" class="form-control" rows="5" cols="50" ></textarea>
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="file" class="control-label">File:</label>
            <input asp-for="file" type="file" class="form-control" c/>
            <span asp-validation-for="file" class="text-danger"></span>
        </div>
        <div class="btns mt-3">
            <div>
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
