@model FP_01_2021_2022.Models.Contacto

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-3">
<h1>Criar Novo Contacto</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nickname" class="control-label"></label>
                <input asp-for="nickname" class="form-control" />
                <span asp-validation-for="nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group form-check mt-1">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="amigo" /> @Html.DisplayNameFor(model => model.amigo)
                </label>
            </div>
            <div class="form-group mt-2">
                <a class="btn btn-secondary" asp-action="Lista">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
