
@{
    ViewData["Title"] = "Submited Data";
}

<div class="text-center mt-3 d-flex flex-column">

    <h1>The following data was submited</h1>

    <div class="max-width-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewData["text_inserted"]</td>
                    <td>@ViewData["other_text_inserted"]</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>