@{
    ViewData["Title"] = "OnlyClientsAndAdmins";
}

<div class="container mt-3">
    <h1>This page is for Clients & Administrators</h1>
    <h1>Welcome @if(User.IsInRole("Admin")){
        <span>Administrator</span>
    }
    else
    {
        <span>Client</span>
    }
    @User.Identity.Name !
    </h1>
</div>