@model TP_02.Models.Person

@{
    ViewData["Title"] = "Create";
}

<div class="text-center mt-3 d-flex flex-column">

    <h1>Form submission with Person class model</h1>

    <div class="max-width-container">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="Name" class="control-label">Name:</label>
                    <input asp-for="Name" class="form-control" placeholder="Ex. John"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Age" class="control-label">Age:</label>
                    <input asp-for="Age" class="form-control" placeholder="Ex. 21"/>
                    <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Date" class="control-label">Birth:</label>
                <input asp-for="Date" class="form-control" placeholder="Ex. 08/10/1998 15:35"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="EmailAddress" class="control-label">E-mail:</label>
                <input asp-for="EmailAddress" class="form-control" placeholder="Ex. john@mail.com"/>
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
     </div>

</div>

